<div class="jumbotron">
  <h1>Rails 4 Multi Tenancy</h1>
  <p>This is an example of a full-featured multi tenancy app with Rails 4</p>
  <p>
    <%= link_to 'Create Your Account', new_account_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
    
<h2><%= current_tenant %></h2>
